<div>
  <h2>Login</h2>
  <br>
  <ul>
    <li><a href="#">Login with Facebook</a></li>
    <li><a href="#">Login with Google</a></li>
    <li><a href="#">Login with Twitter</a></li>
  </ul>
  <br>
  <form [formGroup]="form" class="form_auth" name="form_login" (submit)="onLogin()">
    <input type="text" name="username" placeholder="Username" formControlName="username">
    <ul class="help-block">
      <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required.</li>
    </ul>
    <input type="password" name="password" placeholder="Password" formControlName="password">
    <ul class="help-block">
      <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</li>
    </ul>
    <input [disabled]="!form.valid" type="submit" value="Login" />
  </form>
</div>