<div class="container">
    <h4>Add a recipe</h4>
    <form class="form_recipe" name="form_recipe">
        <div class="form-group">
            <label for="title">Name of the dish:</label>
            <input [(ngModel)]='title' type="text" name='title' placeholder="Name of the dish" id="title" class="form-control form-control-sm">
        </div>
        <label for="descr">Short description of the dish (from 90 to 110 characters):</label>
        <textarea [(ngModel)]='descript' rows="5" name="descript" placeholder="Short description of the dish (from 90 to 110 characters)"
            class="form-control form-control-sm"></textarea>
        <label for="ingredients">Ingredients:</label>
        <textarea [(ngModel)]='ingredients' rows="5" name='ingredients' placeholder="Put each ingredient on its own line" id="ingredients"
            class="form-control form-control-sm"></textarea>
        <label for="body">How to cook the dish:</label>
        <textarea [(ngModel)]='directions' rows="10" name='directions' placeholder="Put each step on its own line" id="body" class="form-control form-control-sm"></textarea>
        <label for="main-ingred">Main ingredient</label>
        <br>
        <select [(ngModel)]='main' name='main' id="main-ingred" class="form-control form-control-sm">
            <option selected="selected" value="meat">Meat</option>
            <option value="fish">Fish</option>
            <option value="vegetables">Vegetables</option>
            <option value="fruits">Fruits</option>
            <option value="other">Other</option>
        </select>
        <label for="type">Dish type</label>
        <select [(ngModel)]='type' name='type' id="type" class="form-control form-control-sm">
            <option selected="selected" value="salad">Salads</option>
            <option value="soup">Soups</option>
            <option value="cake">Dessert</option>
            <option value="drink">Drinks</option>
            <option value="other">Other</option>
        </select>
        <label for="cuisine">Cuisine</label>
        <select [(ngModel)]='cuisine' name='cusine' id="cuisine" class="form-control form-control-sm">
            <option selected="selected" value="ukrainian">Ukrainian</option>
            <option value="italian">Italian</option>
            <option value="french">French</option>
            <option value="asian">Asian</option>
            <option value="other">Other</option>
        </select>
        <input type="button" value="Add" class="btn btn-primary btn-sm addBtn" (click)="addRecipe()" />
    </form>
</div>