<div (click)="hideMenu()" class="container">
  <h6>
    <a routerLink='/recipes' (click)="redirectHome()">All Recipes</a>
  </h6>
  <h6>
    <a routerLink='/recipes'>My Recipes</a>
  </h6>
  <h6>Sort by:</h6>
  <div class="dropdown-main">
    <h6 class="filter">Ingredient</h6>
    <div class="dropdown-main-content">
      <ul>
        <li>
          <a routerLink='/recipes' (click)='filterByMain("meat")'>Meat</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByMain("fish")'>Fish</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByMain("vegetables")'>Vegetables</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByMain("fruits")'>Fruits</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByMain("other")'>Other</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown-type">
    <h6 class="filter">Dish Type</h6>
    <div class="dropdown-type-content">
      <ul>
        <li>
          <a routerLink='/recipes' (click)='filterByType("salad")'>Salads</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByType("soup")'>Soups</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByType("dessert")'>Dessert</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByType("drink")'>Drinks</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByType("other")'>Other</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown-cuisine">
    <h6 class="filter">Cuisine</h6>
    <div class="dropdown-cuisine-content">
      <ul>
        <li>
          <a routerLink='/recipes' (click)='filterByCuisine("ukrainian")'>Ukrainian</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByCuisine("italian")'>Italian</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByCuisine("french")'>French</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByCuisine("asian")'>Asian</a>
        </li>
        <li>
          <a routerLink='/recipes' (click)='filterByCuisine("other")'>Other</a>
        </li>
      </ul>
    </div>
  </div>
</div>