<h1>Tasty Recipes From Around The World</h1>
<nav>
  <ul>
    <li><a routerLink='/'>Home</a></li>
    <li><a routerLink='/about'>About</a></li>
    <li *ngIf='auth.isAuthorized()'><a routerLink='/add'>Add Recipe</a></li>
    <li *ngIf='!auth.isAuthorized()'><a routerLink='/register'>Register</a></li>
    <li *ngIf='!auth.isAuthorized()'><a routerLink='/login'>Login</a></li>
    <li *ngIf='auth.isAuthorized()'><a (click)='onLogout()' routerLink='/'>Logout</a></li>
  </ul>
</nav>
<form>
  <input type='text' name='search' placeholder='Search..'>
  <input type='button' value='Go'>
</form>