h1 {
    margin-top: 5%;
    text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;  
}

nav a {
padding: 10px;
}
 
form {
    
    width: 19%;
    margin: 1% auto;
}