.recipe {
     border: 1px solid red;
     width: 30%;
     margin: 2%;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid green;
     margin-top: 3%;
 }

a {
    text-decoration: none;
}

 
