  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 60vh;
  }
  
  @media only screen and (max-width: 780px) {
    .grid {
      display: block;
    }
    app-section {
      display: none;
    }
  }